@charset "utf-8";
body {
    background-color: #e6e6fa;
    color: #191970;
    font-family: Arial, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
h1 {
    background-color: #19197095;
    color: #e6e6fa;
    font-family: Georgia, "Times new roman", serif;
    line-height: 100%;
    text-shadow: 4px 4px 5px #cccccc;
    padding: 1em;
    text-align: center;
    box-shadow: 1px 1px 9px 0px #000000ba;
}
h2 {
    background-color: royalblue;
    font-family: georgia, "times new roman", serif;
    text-align: center;
    border-bottom: 2px dashed #191970;
}
p {
    font-size: 0.90em;
    background-color: #aeaed4;
    color:black;
}

ol {
    font-weight: bold;
    color: orange
}
.cor_texto{
    color:#c70000
}
#primeiro_nome{
    background-color: rgba(0, 0, 0, 0.105);
    
}
nav {
    font-weight: bold;
}
img {
    height:240px;
    width: 320px;
}
figure {
    width: 320px;
    padding: 5px;
    border: 2px solid #000000;
    background-color: black;
    margin-inline: auto;
}
figcaption {
    text-align: center;
    font-family: Papyrus, fantasy;
    color: #e6e6fa;
}
footer { 
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
    font-size: 0.75em;
    font-style: italic;
}
header {
    background-image: url(fundo2.jpg);
    background-position: center;
    background-size: cover;
}
#home {
    border: #000000 1px solid;
    padding: 2px 4px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #aeaed47c;
    text-align: center;
    
}